<!DOCTYPE html>
<html>
         <head>
                  <title>Simple Host - Host Bots Without Fear</title>
                  <metadata name="description">Host Bots without Fear. Simple Host provides free hosting of nodejs bots to everyone</metadata>
                  <link rel="shortcut icon" href="./logo.png" type="image/x-icon">
         </head>