<%- include("./ejs/nav", user: null) %>
<div class="align-items-center">
         <h1>Please Wait, Loggin in...</h1>
</div>
</body>
<script defer>
         setTimeout(async function() {
                  window.location = "/"
         }, 30 * 1000);
</script>
</html>